
body {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background-image: url(images/bg-color.jpg);
}
h1, h2, span {
    text-align: center;
    color: green;
}
.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 620px;
    height: 620px;
}

.jerry {
    background-image: url('images/mouse.jpg');
    background-size: cover;
}

